.request-btn {
    position: fixed;
    right: 0;
    top: 35%;
    background: #0183e3;
    padding: 15px;
    color: #fff !important;
    line-height: 15px;
    z-index: 999;
    text-transform: uppercase;
    cursor: pointer;
}

.request-box {
    width: 250px;
    min-height: 300px;
    position: fixed;
    bottom: 20px;
    right: 45px;
    background: #fff;
    z-index: 10;
    overflow: hidden;
    display: none;
    border-radius: 5px;
    z-index: 999;
    -webkit-box-shadow: -1px 4px 29px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 4px 29px 0px rgba(0,0,0,0.2);
    box-shadow: -1px 4px 29px 0px rgba(0,0,0,0.2);
    transition: all 0.5s ease-in-out;
}

.request_header {
    width: 100%;
    display: block;
    height: 25px;
    background: #0183e3;
    padding: 0 10px;
}

.request_header span:last-child {
    font-size: 20px !important;
    line-height: 18px !important;
    cursor: pointer;
    opacity: 1 !important;
}
.request_header span {
    font-size: 14px;
    line-height: 24px;
    color: #fff !important;
}
.pull-right {
    float: right;
}
.pull-right {
    float: right !important;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.close {
    color: #000 !important;
    float: right !important;
    font-size: 27px !important;
    font-weight: bold !important;
    line-height: 1;
    opacity: 0.5 !important;
    position: absolute;
    right: 12px;
    text-shadow: 0 1px 0 #fff;
    top: 3px;
}





/*bghead {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}*/

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 999; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:darkkhaki; /* Set a background color */
    color:white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
  }
  
  #myBtn:hover {
    background-color: #555;
  }

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

.headings{
    clear: both;
    font-family: 'Oswald',sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #333333;
    font-size: 26px;
}
    body {
       /* background: #f0f0f0;*/
    }
.banner{
    background-image: url('img/cropped-cropped-background.jpg');
}
.gnrl{
    clear: both;
    font-family: 'Oswald',sans-serif; 
}
.gnrltext{
    clear: both;
    font-family: 'Source Sans Pro',Arial,sans-serif; 
    font-size: 16px;
    font-weight: normal;
    color: #404040;
}
.footerbg{
    background-image: url('../img/footer-bg.png');
    
}

.nav-item a:hover {
    color: rgb(56, 0, 0)!important;
    cursor: pointer;
}
.headers{

font-family: 'Oswald',Arial,sans-serif;

letter-spacing: 3px;
text-transform: uppercase;
color: #333;

font-size: 26px;
font-weight:normal;

margin-bottom: 0;

}
/*.site-description {
    color: #333;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.8462;
    margin-bottom: 0;
}*/
i.hcolor:hover{
    clear: both;
    color:darkorange;
}
a{
    clear: both;
    font-size: 16px;
}
a.one:link {color:#ffffff;text-align: center;
    text-decoration: none;
   
    

}
a.one:visited {color:#ffffff;text-align: center;
    text-decoration: none;
    }
a.one:hover {color:#ff0000;text-align: center;
    text-decoration: none;
    }

    img:hover
    {
    -moz-box-shadow: 0 0 5px 5px #ddd;
    -webkit-box-shadow: 0 0 5px 5px #ddd;
    box-shadow: 0 0 5px 5px #ddd;
    }

.about{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.fntbfalse{
    clear: both;
    font-weight:normal;
}
